body, html {
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../img/background.jpg");
  position: relative;

  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
    
    
}

/*.bgimg-1 {
  background-image: url("../img/background.jpg");
  height: 100%;

}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}*/

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.cover-container {
    max-width: 102em;
}

.mb-auto{
    margin-bottom: 150px;
}

@media (min-width: 48em)
.masthead-brand {
    float: left;
}

.masthead-brand {
    margin-bottom: 110;
}

.h1, h1 {
  color:#e9ecef;
}

.h2, h2 {
	color:#99b5ce;
}

.h3, h3 {
    font-size: 3.75rem;
    text-align: center;
    color: white;
}

.text-center {
    text-align: center!important;
}

header, hgroup, main, nav, section {
    display: block;
    margin-bottom: 60px;
}

p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #58b989;
}

#remain-id{
  font-size: 100px;
  color: #e9ecef;
  margin: -10px;
}

#percentage{
  font-size: 160px;
  font-weight: bold;
  color: #FFFFFF;
}

.col{
  margin: 20px;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

img {
  width: 100%;
}

.masthead-brand {
    margin-bottom: 110;
    margin: .6em;
}

.col-lg-6 {
    text-align: center;
}

